/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{
	outline: none;
}

a:focus,a:active{
	outline: none;
}

nav,footer,header,aside{
	display: block;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 136.7%;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{
	font-family:inherit;
}

input::-ms-clear{
	display: none;
}

button{
	cursor: pointer;
    -webkit-user-select: none; 
    -webkit-touch-callout: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;    
}

button::-moz-focus-inner {
	padding:0;
	border:0;
}

a, a:visited{
	text-decoration: none;
	color: inherit;
}

a:hover{
	text-decoration: none;
}

ul li{
	list-style: none;
}

img{
	vertical-align: top;
}

h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight: 400;}
/*--------------------*/
body{
	height: 100%;
    font-family: 'Ubuntu', sans-serif;
	background: #ffffff;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 150px;
}

/*Hedaer-block*/


.header {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	padding: 40px 15px 50px;
	width: 100%;
	background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
	box-shadow: 0px 10px 8px 0px rgba(34, 60, 80, 0.2);
}
.header__title {
	font-weight: 700;
	line-height: 1.18;
	font-size: 44px;
	margin-bottom: 20px;
}

.header__form {
	height: 54px;
	width: 460px;
	background: #fff;
	border-radius: 6px; 
	display: flex;
	justify-content: space-between;
}
.header__input-text {
	padding: 15px;

	border-radius: 6px;

	font-weight: 300;
	font-size: 20px;
	line-height: 1;
	max-width: 350px;
	color: #000;
}
.heder__form-button {
	width: 145px;
	height: 54px;
	background: #e5464f;
	border-radius: 6px;

	font-weight: 500;
	font-size: 20px;
	line-height: 1;
	transition: 0.5s ease;
}

.heder__form-button:hover {
	background: #ee333c;
}

/*Main-block*/


.main {
	flex: 1 1 auto;
}
.main__card-container {
	position: relative;
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	padding: 30px;
	width: 360px;
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
}

.main__card-container::before {
	content: '';

	position: absolute;
	left: 10px;
	bottom: -10px;
	z-index: -1;

	width: calc(100% - 20px);
	height: 100%;

	background: #ffffff;
	box-shadow: 0px 5px 20px rgba(27, 108, 114, 0.25);
	border-radius: 6px;
}

.card__title {
	font-weight: 500;
	font-size: 28px;
	line-height: 33px;
}

.card__title > span {
	display: inline-block;
	vertical-align: text-top;

	padding: 3px 5px;
	background: #e5464f;
	border-radius: 6px;

	color: #fff;
	font-weight: 500;
	font-size: 12px;
	line-height: 1;
}
.card__weather {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card__value {
	font-size: 71px;
	line-height: 1;
	color: #000000;
}



.card__image {

}
.card__descr {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

/*Footer-block*/

.footer {
	background: #E3F1EE;
	padding: 10px 0 10px;
	width: 100%;
	color: #2E7695;
	text-align: center;
	font-weight: 700;
}

/*Media*/

@media(max-width: 520px) {
	.wrapper {
		row-gap: 50px;
	}
	.header__form {
    width: 300px;
	display: block;
	margin-bottom: 20px;
}

	.header__input-text {
		margin-bottom: 10px;
	}
}